@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    width: 1348px;
    margin: 70px auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1{
    text-align: left;
}

h2, h3{
    text-align: center;
}

h1, h2, h3{
    color: #000;
    font-weight: 600;
}

p{
    font-weight: 400;
    color: #8F95A5;
    font-size: 20px;
}

h1{
    padding-bottom: 40px;
    font-size: 64px;
    line-height: 80px;
}

h2{
    font-size: 48px;
    line-height: 80px;
}

h3{
    color: #263238;
    font-size: 30px;
    line-height: 48px;
    text-align: left;
}

header{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.logo img {
    display: block;
    width: 106px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
}

nav>ul{
    justify-content: center;
    gap: 36px;
    color: #263238;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu{
    display: flex;
    float: left;
}

.header--button{
    width: 220px;
    height: 70px;
    flex-shrink: 0;
    padding: 17px 17px;
    border-radius: 5px;
    border: 2px solid #263238;  
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 24px;
}

.banner{
    display: flex;
    justify-content: start; 
    align-items:center;
    padding-bottom: 115px;
}

.banner p{
    padding-right: 57px;
    padding-bottom: 61px;
}

.banner img{
    padding-left: 38px;
}

.banner--left{
    color: #8F95A5;
    font-size: 24px;
    width: 632px;
}

.banner--left__header{
    display: flex;
}

.button{
    border-radius: 15px;
    flex-shrink: 0;
    color: #FFFFFF;
    background-color: #263238;
    text-decoration: none;
    cursor: pointer;
}

.banner .button{
    width: 438px;
    height: 118px;
    padding: 32px 117px;
}

.skills {
    display: flex;
    gap: 18px;
    padding-bottom: 282px;
}
main h2{
    padding-bottom: 92px;
}
.skills h3{
    padding: 0 0 5px 43px;
}

.skills p{
    padding-left: 43px;
    padding-bottom: 36px;
    font-size: 16px;
}

.skill-card{
    padding-bottom: 92px;
}

.skills .button{
    width: 230px;
    height: 60px;
    padding: 17px 64px;
    margin-left: 43px;
    margin-bottom: 64px;
    flex-shrink: 0;
}

.skills img{
    padding: 35px 22px 0 22px;
}

.skills--right{
    display: inline-block;
    width: 435px;
    height: 894px;
    vertical-align: top; 
    text-align: left;
}

.skills--right img{
    max-height: 293px;
    padding: 9px 63px auto 1px;
}

.skills-left{
    display: flex;
    gap: 18px;
    height: 894px;
}

.skill-card__left h3{
    padding-top: 43px;
}

.skills--top{
    display: flex;
    gap: 18px;
    height: 531px;
    
}

.skills--bottom{
    width: 885px;
    height: 343px;
}

.skill-card{
    width: 434px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F5F5F5;
}

.skills--bottom .skill-card{
    width: 885px;
    padding-top: 18px;
}

.skill-card__bottom{
    display: flex;
    border-radius: 10px;
    background: #F5F5F5;
    margin-top: 18px;
}

.about{
    display: flex;
    padding-bottom: 229px;
}

.about--left{
    padding-right: 160px;

}

h2.about-h2{
    padding-bottom: 23px;
    text-align: left;
    font-size: 48px;
    font-weight: 600;
    line-height: 80px; 
}

.about--p{
    padding-bottom: 60px;
}

.counters{
    display: flex;
    gap: 80px;
}

.counter{
    width: 33%;
}

.counter p{
    text-align: center;
}

p.count{
    display: block;
    color: #2A3246;
    font-size: 48px;
    font-weight: 600;
    line-height: 80px; 
}

.pricing{
    padding-bottom: 230px;
}

.pricing h2{
    padding-bottom: 83px;
}

.pricing--tarif{
    display: flex;
    gap:20px;
}

.pricing--tarif__card{
    display: inline-block;
    width: 30%;
    margin-right: 10px; 
    vertical-align: top; 
    text-align: left;
}

.pricing--tarif__card img {
    height: 311px;
    padding-bottom: 40px;
}

.pricing--tarif__card h3{
    height: 80px;
}

.pricing--tarif__card p{
    height: 90px;
}

.price{
    display: inline-block;
    height: 45px;
    padding-left: 18px;
    border-radius: 0 5px 5px 0;
    color: #263238;
    font-size: 30px;
    background-color: #EEEEEE;
    text-align: end;
}

.price:after{
    content:  "per month";
    border-radius: 0 5px 5px  0;
    background-color: #EEEEEE; 
}

.contact{
    display: flex;
    padding-bottom: 133px;
}

.contact h2{
    padding-bottom: 37px;
    text-align: left;
}

.contact--form{
    padding-left: 110px;
}

.form {
    margin-bottom: 1rem; 
}

.form-input{
    width: 450px;
    height: 80px;
    margin-right: 12px;
    padding: 26px 31px 30px 33px;
    border: 1px solid #bdbdbd; 
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
    color: #8F95A5;
    font-family: Poppins;
    font-size: 16px;
}

.contact .button{
    width: 264px;
    height: 80px;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 500;
}

footer{
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    border-top: 1px solid #C4C4C4;
}